
<div class="container">
  <div class="row">
    <div style="left: 15px;" class="form-group col-md-12">
      <h1 >Reset Password</h1>
    </div>
  </div>
  <div class="row">
    <form  [formGroup]="form" class="col-md-12" (submit)="submit()">

      <div class="form-group col-md-12" >
        <div    class="alert alert-info" >
          <strong>Email Sent!</strong> Check your email for the special code. :)
        </div>
      </div>
      <div class="form-group col-md-12">
        <label for="code">Code</label>
        <input type="password" formControlName="code" id="code"
               class="form-control"
               [ngClass]="{
                'is-invalid':showError('code')
               }"/>
        <div *ngIf="showError('code') " class="invalid-feedback">
          <span *ngIf="hasErrorType('code', 'required')">Code Is Required</span>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password"
               class="form-control"
               [ngClass]="{ 'is-invalid': showError('password') }"/>
        <div *ngIf="showError('password')" class="invalid-feedback">
          <div *ngIf="hasErrorType('password', 'required')">Password is required</div>
          <div *ngIf="hasErrorType('password', 'minLength')">Password min length is 5 characters</div>
        </div>
      </div>
      <!-- Specific Observables For Each thing -->
      <div class="form-group col-md-12 btn-form">
        <button  [disabled]="!canSubmit()" class="btn btn-lg btn-primary">Reset Password
          <i class="fa fa-spinner fa-spin" *ngIf="submitting" ></i>
        </button>
      </div>

      <div class="form-group col-md-12" *ngIf="errorMessage">
        <div id="error-message"   class="alert alert-danger" >
          <strong>Error!</strong> {{ errorMessage }}
        </div>
      </div>

    </form>
  </div>
</div>


